@model RestaurantReservationSystem.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantTable.SeatingArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantTable.SeatingArea.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantTable.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantTable.Capacity)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCancelled)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
