@model IEnumerable<RestaurantReservationSystem.Models.Reservation>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@if (TempData["status"] != null)
{
    <script type="text/javascript">
        toastr.success("@TempData["status"]");
    </script>
    
}

 


<h1>Reservations</h1>

<div class="d-flex justify-content-between align-items-center">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    @if (User.IsInRole("Staff"))
    {
    <p>
        <a asp-action="Report">Generate Report</a>
    </p>
        
    }

</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantTable.SeatingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantTable.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCancelled)
            </th>
            @if (User.IsInRole("Staff"))
            {
                
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            }
 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantTable.SeatingArea.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantTable.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCancelled)
            </td>
                @if (User.IsInRole("Staff"))
                {
                    
                <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <!--
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    -->
            </td>
        </tr>
}
    </tbody>
</table>
