@model IEnumerable<RestaurantReservationSystem.Models.SeatingArea>

@{
    ViewData["Title"] = "Index";
}

<h1>Seating Areas</h1>

<p>
    <a class="btn btn-danger bg-red-custom" asp-action="Create" role="button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <div class="btn-group">
                        <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
