@model IEnumerable<RestaurantReservationSystem.Models.DailySpecial>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Daily Special Menu</h2>

@if (User.IsInRole("Staff"))
{
    
<p>
    <a class="btn btn-primary bg-red-custom" asp-action="Create" role="button">Create New</a>
</p>
}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card shadow-sm bg-main-custom">
                    <div>
                        <img src="@item.MenuItem.Image" alt="@item.MenuItem.Name" height="225" width="100%" class="card-img-top rounded-top">
                        <h4 class="card-title text-center py-2 bg-red-custom text-white rounded-bottom">@item.MenuItem.Name</h4>
                    </div>


                    <div class="card-body ">
                        <p class="card-text text-center bg-white  rounded py-2">@item.MenuItem.Description</p>
                        <p class="card-text text-center bg-red-custom text-white  rounded py-2 h4">$ @item.MenuItem.Price</p>

                        <div class="d-flex justify-content-between align-items-center pt-2">
                            <small class="text-body-secondary h6">@item.Day</small>

                            @if (User.IsInRole("Staff"))
                            {

                            <div class="btn-group">
                                <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                                
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
        @if(!Model.Any())
        {
            <h3>No Special Menus Available</h3>
        }

    </div>
</div>